
body {
    background-color: #ffffff
}

.text-title {
    font-family: 'Roboto', sans-serif;
    color: #EB5819;
    font-weight: bold;
    align-self:center;
    font-size: 32px;
}

.btn {
    height: 50px;
    width: 100%;
    background-color: #0FD10F;
    font-weight: 500;
    color: #ffffff;
    border: none;
    font-size: 20px;
    margin-top: 35px;
}

.form-control {
    min-height: 50px;
}
